-i https://pypi.org/simple/
aiofiles==0.6.0
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
fastapi[all]==0.53.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
orjson==3.5.1
promise==2.3
pydantic==1.8.1
python-multipart==0.0.5
pyyaml==5.4.1
requests==2.25.1
rx==1.6.1
six==1.15.0
starlette==0.13.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
ujson==4.0.2
urllib3==1.26.4
uvicorn==0.13.4
